@page
@model RazorPagesChart.Pages.WeatherConditions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].Pressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].Humidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].Visibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].WindSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].WindDeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeatherCondition[0].MeasureTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WeatherCondition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
